body {
    padding-top: 56px;
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 20px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}
.col-md-3{
    background: linear-gradient(89deg, #1b6489, transparent);
   
    box-shadow: 3px 6px 5px;

}
